body {
  padding: 0;
  margin: 0;
}

.center {
  text-align: center;
}

#merchant-container {
  padding: 5px;
  margin: 2px;
  width: 30rem;
  text-align: center;
  margin: 4rem auto;
}

.merchant-info {
  display: flex;
}

.merchant-img {
  width: 300px;
}

#menus {
  margin: 0 4rem 4rem 4rem;
}

.menu-img {
  width: 100px;
}